APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:NaS2vm7t6LjT9mOO+e49dekQgoAV692ELb6q5qtqyWE=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Ngrok URL (chỉ dùng khi chạy ngrok)
# APP_URL=https://posthemiplegic-overvehemently-cedrick.ngrok-free.dev

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=60
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_EXPIRE_ON_CLOSE=false

# Trust all proxies in Docker environment
TRUSTED_PROXIES=*

# CORS Security
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,https://yourdomain.com

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Cấu hình Gmail (ĐANG SỬ DỤNG)
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=itdevvh004@gmail.com
MAIL_PASSWORD=qxqxrafsimevkcol
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=itdevvh004@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

# Cấu hình cho Log (Testing - đã tắt)
# MAIL_MAILER=log
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null

# Cấu hình cho Mailtrap (Testing)
# MAIL_MAILER=smtp
# MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=your-mailtrap-username
# MAIL_PASSWORD=your-mailtrap-password
# MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

GOOGLE_CLIENT_ID=1019683768885-at8ia1eugsoldkeki3r0qp4jigk2ojnp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URL=http://localhost/auth/google/callback

NGROK_AUTHTOKEN=34WIKiZXu8jTAL0zOXodP9szUmg_2ZG89W8mfzcyYmDCymEKs

# Lấy từ trang https://sandbox.vnpayment.vn/
VNPAY_TMN_CODE=BOI5BXA1
VNPAY_HASH_SECRET=J6UKSQA54E9IIJE887G8JUH9FLRV0HNF
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

# URL trả về cho người dùng (sau khi họ thanh toán)
# CHÚ Ý: Cập nhật URL này sau khi khởi động ngrok
VNPAY_RETURN_URL=https://posthemiplegic-overvehemently-cedrick.ngrok-free.dev/payment/vnpay-return

# URL VNPAY gọi "ngầm" để xác nhận (Instant Payment Notification)
# CHÚ Ý: Cập nhật URL này sau khi khởi động ngrok
VNPAY_IPN_URL=https://posthemiplegic-overvehemently-cedrick.ngrok-free.dev/payment/vnpay-ipn


VITE_APP_NAME="${APP_NAME}"
